.mainJobDetailsContainer {
  background-color: black;
  min-height: 92vh;
  padding: 30px;
}

.descContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anchorContainer {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.anchorPara {
  margin-right: 8px;
}

.skillsListContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.skillsListItemEl {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100px;
  /* border: 1px solid red; */
  margin-right: 40px;
  margin-bottom: 50px;
}

.skillsLogo {
  height: 50px;
}

.skillsPara {
  margin-left: 20px;
}

.lifeAtCompanyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.lifeAtCompanyImg {
  height: 250px;
  margin-top: 25px;
}

.heading {
  font-size: 25px;
  margin-top: 30px;
}

.similarJobsListContainer {
  display: flex;
  flex-direction: column;
}

.similarListItemEl {
  background-color: #272727;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.similarJobLocation {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .skillsLogo {
    height: 80px;
  }
  .skillsListItemEl {
    width: 350px;
  }
  .lifeAtCompanyContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .lifeAtCompanyImg {
    height: 300px;
    margin-top: 0px;
  }
  .lifePara {
    width: 50vw;
  }
  .similarJobsListContainer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .similarListItemEl {
    width: 350px;
    margin-right: 30px;
  }
}
